<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-striped tabs-top tabs-color-light tabs-icon-top ">
  <!-- Dashboard Tab -->
  <ion-tab title="Comidas" icon-off="ion-fork" icon-on="ion-fork" href="#/tab/foods">
    <ion-nav-view name="tab-foods"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Bebidas" icon-off="ion-wineglass" icon-on="ion-wineglass" href="#/tab/drinks">
    <ion-nav-view name="tab-drinks"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Postres" icon-off="ion-icecream" icon-on="ion-icecream" href="#/tab/desserts">
    <ion-nav-view name="tab-desserts"></ion-nav-view>
  </ion-tab>


</ion-tabs>
